<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Future Connect</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/img/favicon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">

	<!-- Theme Settings Js -->
	<script src="assets/js/theme-script.js"></script>

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

	<!-- Fearther CSS -->
	<link rel="stylesheet" href="assets/css/feather.css">

	<!-- Tabler Icon CSS -->
	<link rel="stylesheet" href="assets/plugins/tabler-icons/tabler-icons.min.css">

	<!-- Aos CSS -->
	<!-- <link rel="stylesheet" href="assets/plugins/aos/aos.css"> -->

	<!-- Owl carousel CSS -->
	<link rel="stylesheet" href="assets/css/owl.carousel.min.css">

	<!-- Select CSS -->
	<link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="assets/css/style.css">

</head>

<body>



	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<div class="top-header">
			Find the Best Instant Talents Platform
			<span class="close-btn"
				onclick="if (!window.__cfRLUnblockHandlers) return false; this.parentElement.style.display='none'"
				data-cf-modified-befc89958e432fcd140d906a-=""><i class="ti ti-xbox-x"></i></span>
		</div>

		<!-- Header -->
		<header class="header">
			<div class="container">
				<nav class="navbar navbar-expand-lg header-nav p-0">
					<div class="navbar-header">
						<a id="mobile_btn" role="button"
  tabIndex="0">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="index.html" class="navbar-brand logo">
							<img src="assets/img/FUTURE CONNECT LOGO - LONG.svg" alt="Logo">
						</a>
						<a href="index.html" class="dark-logo">
							<img src="assets/img/FUTURE CONNECT LOGO - LONG - WHITE.svg" alt="Logo" class="img-fluid">
						</a>
						<a href="index.html" class="navbar-brand logo-small">
							<img src="assets/img/FUTURE CONNECT LOGO.png" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="index.html" class="menu-logo">
								<img src="assets/img/FUTURE CONNECT LOGO.png" class="img-fluid" alt="Logo">
							</a>
							<a href="index.html" class="menu-logo dark-logo">
								<img src="assets/img/FUTURE CONNECT LOGO - LONG - WHITE.svg" alt="Logo"
									class="img-fluid">
							</a>
							<a id="menu_close" class="menu-close" role="button"
  tabIndex="0"> <i class="fas fa-times"></i></a>
						</div>
						<ul class="main-nav navbar-nav">
							<li><a href="index.html" class="nav-link active">Home</a></li>

							<li class="has-submenu">
								<a role="button"
  tabIndex="0">Talents <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="talents.html">All Talents</a></li>
									<li><a href="register-talent.html">Register as Talent</a></li>
									<li class="has-submenu">
										<a role="button"
  tabIndex="0">Talent Categories <i class="fas fa-chevron-right"></i></a>
										<ul class="submenu">
											<li><a href="talents.html?category=music">Music & Performance</a></li>
											<li><a href="talents.html?category=tech">Tech & Coding</a></li>
											<li><a href="talents.html?category=art">Art & Design</a></li>
											<li><a href="talents.html?category=entrepreneurship">Entrepreneurship</a>
											</li>
											<li><a href="talents.html?category=education">Education & Research</a></li>
											<li><a href="talents.html?category=health">Health & Wellness</a></li>
											<li><a href="talents.html?category=sports">Sports & Fitness</a></li>
											<li><a href="talents.html?category=community">Community Leadership</a></li>
											<li><a href="talents.html?category=life">Personal Growth</a></li>
										</ul>
									</li>
								</ul>
							</li>

							<li>
	<a href="announcements.html">Announcements</a>
</li>

							<li class="has-submenu">
								<a role="button"
  tabIndex="0">Stories <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="stories.html">All Stories</a></li>
									<li><a href="upload-story.html">Upload Story</a></li>
									<li class="has-submenu">
										<a role="button"
  tabIndex="0">Talent Categories <i class="fas fa-chevron-right"></i></a>
										<ul class="submenu">
											<li><a href="stories.html?category=music">Music & Performance</a></li>
											<li><a href="stories.html?category=tech">Tech & Coding</a></li>
											<li><a href="stories.html?category=art">Art & Design</a></li>
											<li><a href="stories.html?category=entrepreneurship">Entrepreneurship</a>
											</li>
											<li><a href="stories.html?category=education">Education & Research</a></li>
											<li><a href="stories.html?category=health">Health & Wellness</a></li>
											<li><a href="stories.html?category=sports">Sports & Fitness</a></li>
											<li><a href="stories.html?category=community">Community Leadership</a></li>
											<li><a href="stories.html?category=life">Personal Growth</a></li>
										</ul>
									</li>
								</ul>
							</li>



						</ul>

					</div>

					<div class="d-flex align-items-center">

						<div class="nav-item dropdown flag-nav nav-item-box nav-item-box-home me-3">
							<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button"
  tabIndex="0"
								role="button">
								<i class="ti ti-sun-high"></i>
								<i class="ti ti-moon"></i>
							</a>
							<ul class="dropdown-menu p-2">
								<li class="mb-1">
									<a role="button"
  tabIndex="0" class="dropdown-item active theme-toggle rounded-2"
										id="light-mode-toggle">
										<i class="ti ti-sun-high me-2"></i>Light Mode
									</a>
								</li>
								<li>
									<a role="button"
  tabIndex="0" class="dropdown-item theme-toggle rounded-2"
										id="dark-mode-toggle">
										<i class="ti ti-moon me-2"></i>Dark Mode
									</a>
								</li>
							</ul>
						</div>
						<ul class="nav header-navbar-rht">
							<li class="nav-item">
								<a class="btn btn-light d-inline-flex align-items-center" href="signin.html"><i
										class="ti ti-lock me-1"></i>Sign In</a>
							</li>
							<li class="nav-item">
								<a class="btn btn-primary d-inline-flex align-items-center" href="signup.html"><i
										class="ti ti-user me-1"></i>Sign Up</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<!-- /Header -->

		<!-- Breadcrumb -->
		<div class="breadcrumb-bar breadcrumb-bar-info breadcrumb-info">
			<div class="breadcrumb-img">
				<div class="breadcrumb-left">
					<img src="assets/img/bg/banner-bg-03.png" alt="img">
				</div>
			</div>
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-8 col-12 text-start">
						<nav aria-label="breadcrumb" class="page-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="index.html">Home</a>
								</li>
								<li class="breadcrumb-item">
									<a href="stories.html">Talent Stories</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">Story Detail</li>
							</ol>
						</nav>
						<h2 class="breadcrumb-title">
							My Journey from Street Art to International Recognition
						</h2>
						<ul class="info-links">
							<li>
								<i class="ti ti-star-filled text-warning"></i>5.0 (68 Feedbacks)
							</li>
							<li>
								<i class="ti ti-eye"></i>1,420 Views
							</li>
							<li>
								<i class="ti ti-calendar-due"></i>Published On: 23 May 2025
							</li>
							<li>
								<i class="ti ti-map-pin-heart"></i>Kigali, Rwanda
							</li>
							<li class="border-0">
								<div class="tranlator d-flex align-items-center">
									<img src="assets/img/flags/flag-for-rwanda.svg" alt="flag"
										class="img-fluid img me-2 language">
									Available Worldwide
								</div>
							</li>
						</ul>
					</div>
					<div class="col-lg-4 col-12">
						<ul class="breadcrumb-links service-details">
							<li class="mb-3 me-0">
								<a role="button"
  tabIndex="0"><span><i class="feather-heart"></i></span>Add to Favorites</a>
							</li>
							<li class="me-0">
								<div
									class="social-links d-flex align-items-center breadcrumb-social justify-content-lg-end">
									Share
									<ul class="ms-3">
										<li><a role="button"
  tabIndex="0"><i class="fa-brands fa-facebook"></i></a></li>
										<li><a role="button"
  tabIndex="0"><i class="fa-brands fa-x-twitter"></i></a>
										</li>
										<li><a role="button"
  tabIndex="0"><i class="fa-brands fa-instagram"></i></a>
										</li>
										<li><a role="button"
  tabIndex="0"><i class="fa-brands fa-linkedin"></i></a></li>
										<li><a role="button"
  tabIndex="0"><i class="fa-brands fa-whatsapp"></i></a></li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /Breadcrumb -->


		<!-- Content -->
		<div class="page-content content">
			<div class="container">
				<div class="row">

					<!-- Service Details -->
					<div class="col-lg-8">

						<!-- Slider -->
						<div class="slider-card service-slider-card">
							<div class="slide-part">
								<div class="slider service-slider">
									<div class="service-img-wrap">
										<img src="assets/img/service/service-slide-01.jpg" class="img-fluid"
											alt="Slider Img">
									</div>
									<div class="service-img-wrap">
										<img src="assets/img/service/service-slide-02.jpg" class="img-fluid"
											alt="Slider Img">
									</div>
									<div class="service-img-wrap">
										<img src="assets/img/service/service-slide-03.jpg" class="img-fluid"
											alt="Slider Img">
									</div>
									<div class="service-img-wrap">
										<img src="assets/img/service/service-slide-04.jpg" class="img-fluid"
											alt="Slider Img">
									</div>
									<div class="service-img-wrap">
										<img src="assets/img/service/service-slide-05.jpg" class="img-fluid"
											alt="Slider Img">
									</div>
								</div>
							</div>
							<div class="slider slider-nav-thumbnails">
								<div><img src="assets/img/service/service-slide-01.jpg" class="img-fluid"
										alt="Slider Img"></div>
								<div><img src="assets/img/service/service-slide-02.jpg" class="img-fluid"
										alt="Slider Img"></div>
								<div><img src="assets/img/service/service-slide-03.jpg" class="img-fluid"
										alt="Slider Img"></div>
								<div><img src="assets/img/service/service-slide-04.jpg" class="img-fluid"
										alt="Slider Img"></div>
								<div><img src="assets/img/service/service-slide-05.jpg" class="img-fluid"
										alt="Slider Img"></div>
							</div>
						</div>
						<!-- /Slider -->


						<!-- About Talent Story -->
						<div class="service-wrap">
							<h3>About this Story</h3>
							<p>This is the journey of how I turned my passion for digital storytelling and creativity
								into a platform that inspires others to pursue online opportunities. From exploring
								affiliate marketing to mastering content automation and SEO, my story reflects
								resilience, learning, and real-world application.</p>
							<p>Through experimentation and consistent growth, I built a fully automated Amazon affiliate
								blog that now serves as both a learning hub and a passive income stream. It’s not just
								about the profits—it’s about creating a system that works for you and empowers others to
								do the same.</p>
						</div>
						<!-- /About Talent Story -->

						<!-- Why This Story Matters -->
						<div class="service-wrap service-wrap">
							<h3>Why This Story Matters</h3>
							<p>This story resonates with anyone seeking independence through digital skills. With over
								five years of hands-on experience in affiliate marketing, I’ve learned what works and
								what doesn’t. My journey demystifies the process and provides a path others can follow
								with confidence.</p>
							<ul class="service-lists">
								<li>
									<p> Adaptability and Creative Problem-Solving </p>
								</li>
								<li>
									<p> Deep Technical and Strategic Insight </p>
								</li>
								<li>
									<p> Transparent and Empowering Sharing of Knowledge </p>
								</li>
							</ul>
						</div>
						<!-- /Why This Story Matters -->

						<!-- FAQ Lists -->
						<div class="service-wrap service-faq">
							<h3>FAQ</h3>
							<div class="faq-lists">
								<div class="faq-card">
									<h4 class="faq-title">
										<a class="collapsed" data-bs-toggle="collapse" href="#faqone"
											aria-expanded="false">Did you face any setbacks during this journey?</a>
									</h4>
									<div id="faqone" class="card-collapse collapse">
										<div class="faq-content">
											<p>Yes, plenty. From SEO challenges to technical glitches, every obstacle
												became a lesson. The key was persistence and a willingness to learn and
												adapt quickly.</p>
										</div>
									</div>
								</div>
								<div class="faq-card">
									<h4 class="faq-title">
										<a class="collapsed" data-bs-toggle="collapse" href="#faqtwo"
											aria-expanded="false">What inspired you to share this story?</a>
									</h4>
									<div id="faqtwo" class="card-collapse collapse">
										<div class="faq-content">
											<p>I believe in the power of stories to inspire and empower. If my journey
												can help even one person start their own, then it's worth sharing.</p>
										</div>
									</div>
								</div>
								<div class="faq-card">
									<h4 class="faq-title">
										<a class="collapsed" data-bs-toggle="collapse" href="#faqthree"
											aria-expanded="false">Can someone with no experience do what you did?</a>
									</h4>
									<div id="faqthree" class="card-collapse collapse">
										<div class="faq-content">
											<p>Absolutely. I started with zero experience. With the right mindset,
												dedication, and a bit of guidance, anyone can achieve similar results.
											</p>
										</div>
									</div>
								</div>
								<div class="faq-card border-0 faq-end-card">
									<h4 class="faq-title">
										<a class="collapsed" data-bs-toggle="collapse" href="#faqfour"
											aria-expanded="false">What’s your next goal?</a>
									</h4>
									<div id="faqfour" class="card-collapse collapse">
										<div class="faq-content">
											<p>I’m currently mentoring others and expanding my platform to include more
												stories of talent and transformation. The goal is to build a community
												where every story counts.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /FAQ Lists -->


						<!-- Recent Works -->
						<div class="service-wrap">
							<div class="row align-items-center">
								<div class="col-sm-8">
									<h3>Recent Works</h3>
								</div>
								<div class="col-sm-4">
									<div class="owl-nav mynav1 nav-control"></div>
								</div>
							</div>
							<div class="owl-carousel recent-carousel">
								<div class="recent-img">
									<img src="assets/img/service/service-slide-01.jpg" class="img-fluid"
										alt="Slider Img">
								</div>
								<div class="recent-img">
									<img src="assets/img/service/service-slide-02.jpg" class="img-fluid"
										alt="Slider Img">
								</div>
								<div class="recent-img">
									<img src="assets/img/service/service-slide-03.jpg" class="img-fluid"
										alt="Slider Img">
								</div>
								<div class="recent-img">
									<img src="assets/img/service/service-slide-04.jpg" class="img-fluid"
										alt="Slider Img">
								</div>
							</div>
						</div>
						<!-- /Recent Works -->

						<!-- Review Lists -->
						<div class="review-widget">
							<div class="review-title sort-search-gigs">
								<div class="row align-items-center">
									<div class="col-sm-6">
										<h3>Reviews (45)</h3>
									</div>
									<div class="col-sm-6">
										<div class="filters-wrap sort-categories justify-content-end">
											<div class="dropdown float-lg-end">
												<button class="btn btn-light dropdown-toggle" type="button"
													id="sortReviewDropdown" data-bs-toggle="dropdown"
													aria-expanded="false">
													Sort By: Most Recent
												</button>
												<ul class="dropdown-menu" aria-labelledby="sortReviewDropdown">
													<li><a class="dropdown-item active" role="button"
  tabIndex="0">Most Recent</a></li>
													<li><a class="dropdown-item" role="button"
  tabIndex="0">Oldest</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Total Ratings Summary -->
							<div class="total-rating align-items-center">
								<div class="total-review">
									<!-- Progress Items -->
									<div class="progress-lvl mb-2">
										<h6>5 Star Ratings</h6>
										<div class="progress">
											<div class="progress-bar bg-warning" role="progressbar" style="width: 65%"
												aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<p>1,600</p>
									</div>

									<div class="progress-lvl mb-2">
										<h6>4 Star Ratings</h6>
										<div class="progress">
											<div class="progress-bar bg-warning" role="progressbar" style="width: 20%"
												aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<p>490</p>
									</div>

									<div class="progress-lvl mb-2">
										<h6>3 Star Ratings</h6>
										<div class="progress">
											<div class="progress-bar bg-warning" role="progressbar" style="width: 7%"
												aria-valuenow="7" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<p>180</p>
									</div>

									<div class="progress-lvl mb-2">
										<h6>2 Star Ratings</h6>
										<div class="progress">
											<div class="progress-bar bg-warning" role="progressbar" style="width: 5%"
												aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<p>120</p>
									</div>

									<div class="progress-lvl">
										<h6>1 Star Ratings</h6>
										<div class="progress">
											<div class="progress-bar bg-warning" role="progressbar" style="width: 3%"
												aria-valuenow="3" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<p>69</p>
									</div>
								</div>

								<div class="total-reviews text-center bg-white">
									<h6>Customer Reviews & Ratings</h6>
									<h2>4.9 / 5.0</h2>
									<div class="icons d-flex align-items-center justify-content-center gap-1 mb-2">
										<i class="ti ti-star-filled text-warning"></i>
										<i class="ti ti-star-filled text-warning"></i>
										<i class="ti ti-star-filled text-warning"></i>
										<i class="ti ti-star-filled text-warning"></i>
										<i class="ti ti-star-filled text-warning"></i>
									</div>
									<p class="text-center">Based On 2,459 Reviews</p>
								</div>
							</div>
							<!-- End Ratings -->

							<!-- Review List -->
							<ul class="review-lists home-reviews">
								<li>
									<div class="review-wrap">
										<div class="review-user-info">
											<div class="review-img">
												<img src="assets/img/user/profile.jpg" alt="User Image">
											</div>
											<div class="reviewer-info">
												<h6><a role="button"
  tabIndex="0">kadajsalamander</a></h6>
												<div class="star-rate">
													<span class="ratings"><i class="fa-solid fa-star filled"></i></span>
													<span class="rating-count">5.0</span>
												</div>
												<p class="reviewer-time">1 Month ago</p>
											</div>
										</div>
										<div class="review-content">
											<p>I recently hired him to help with a project and I must say, I am
												extremely impressed. Professional, efficient, and a pleasure to work
												with.</p>
											<a role="button"
  tabIndex="0" class="reply-btn bg-light"><i
													class="feather-corner-up-left"></i> Reply</a>
										</div>
									</div>
								</li>
								<!-- Repeat <li> for more reviews -->
							</ul>
							<!-- End Review List -->
						</div>


					</div>
					<!-- /Service Details -->

					<!-- Story Details Sidebar -->
					<div class="col-lg-4 theiaStickySidebar">
						<div class="row gx-3 row-gap-3 mb-4">
							<div class="col-xl-4 col-lg-6 col-sm-4 col-6">
								<div class="buy-box">
									<i class="feather-calendar"></i>
									<p>Published</p>
									<h6>Jan 25, 2024</h6>
								</div>
							</div>
							<div class="col-xl-4 col-lg-6 col-sm-4 col-6">
								<div class="buy-box">
									<i class="feather-eye"></i>
									<p>Total Views</p>
									<h6>1,230</h6>
								</div>
							</div>
							<div class="col-xl-4 col-lg-6 col-sm-4 col-6">
								<div class="buy-box">
									<i class="feather-heart"></i>
									<p>Likes</p>
									<h6>342</h6>
								</div>
							</div>
						</div>

						<div class="service-widget">
							<div class="service-amt p-3 price-lvl price-lvl1 bg-light">
								<h3 class="text-grey">
									<span class="d-block text-grey"> Access Price </span>
									$5.99
								</h3>
							</div>

							<div class="input-block form-wrap form-focus">
								<label class="mb-1 fw-medium text-dark"> Select Chapter <span
										class="text-primary">*</span></label>
								<select class="select select2-hidden-accessible" data-select2-id="1" tabindex="-1"
									aria-hidden="true">
									<option data-select2-id="3" class="text-dark">Chapter 1</option>
									<option>Chapter 2</option>
									<option>Chapter 3</option>
									<option>Chapter 4</option>
								</select>
							</div>

							<div class="service-widget service-select-widget">
								<h5 class="mb-3"> Extras </h5>
								<div class="service-select d-flex align-items-center justify-content-between">
									<div class="d-flex align-items-center">
										<label class="custom_radio">
											<input type="radio" name="extras" checked>
											<span class="checkmark"></span>
											<span class="m-0 service-head-text">Audio Narration
												<span>Instant Access</span>
											</span>
										</label>
									</div>
									<p class="price m-0"> $2.00</p>
								</div>
								<div class="service-select d-flex align-items-center justify-content-between">
									<div class="d-flex align-items-center">
										<label class="custom_radio">
											<input type="radio" name="extras">
											<span class="checkmark"></span>
											<span class="m-0 service-head-text">PDF Download
												<span>Instant Access</span>
											</span>
										</label>
									</div>
									<p class="price m-0"> $1.50</p>
								</div>
							</div>

							<a role="button"
  tabIndex="0" data-bs-toggle="modal" data-bs-target="#order_details"
								class="btn btn-primary w-100 mb-0"><i class="feather-book-open"></i> Subscribe to Full
								Story</a>
						</div>

						<div class="service-widget member-widget">
							<div class="user-details">
								<div class="user-img users-img">
									<img src="assets/img/user/user-05.jpg" alt="Author">
								</div>
								<div class="user-info">
									<h5><span class="me-2">Adrian Revolt</span> <span class="badge badge-success"><i
												class="fa-solid fa-circle"></i> Online</span></h5>
									<p><i class="fa-solid fa-star"></i>4.8 (120 Ratings)</p>
								</div>
							</div>
							<ul class="member-info">
								<li>
									Genre
									<span>Fiction, Mystery</span>
								</li>
								<li>
									Language
									<span>English</span>
								</li>
								<li>
									Last Update
									<span>22 May 2025</span>
								</li>
								<li>
									Story Length
									<span>10 Chapters</span>
								</li>
								<li>
									Estimated Read Time
									<span>2 hrs</span>
								</li>
							</ul>
							<div class="about-me new-about">
								<h6>About the Author</h6>
								<p>Hello, I’m Adrian, a storyteller passionate about weaving suspenseful and emotionally
									gripping tales.<span class="more-content"> I’ve written over 20 published short
										stories and love crafting immersive reading experiences.</span></p>
								<a role="button"
  tabIndex="0" class="read-more">Read More</a>
							</div>
							<a role="button"
  tabIndex="0" data-bs-toggle="modal" data-bs-target="#contact_me"
								class="btn btn-primary mb-0 w-100">Contact Author</a>
						</div>
					</div>
					<!-- /Story Details Sidebar -->


				</div>

				<!-- Recent Work -->
				<div class="recent-works">
					<div class="row">
						<div class="col-md-12">
							<div class="title-sec">
								<div class="row align-items-center">
									<div class="col-md-8">
										<h3>Recent Works</h3>
									</div>
									<div class="col-md-4">
										<div class="owl-nav worknav nav-control nav-top"></div>
									</div>
								</div>
							</div>
							<div class="gigs-slider owl-carousel">
								<div class="gigs-grid">
									<div class="gigs-img">
										<div class="img-slider">
											<div class="slide-images">
												<a href="service-details.html"><img src="assets/img/gigs/gigs-13.jpg"
														class="img-fluid" alt="img"></a>
											</div>
											<div class="slide-images">
												<a href="service-details.html"><img src="assets/img/gigs/gigs-06.jpg"
														class="img-fluid" alt="img"></a>
											</div>
											<div class="slide-images">
												<a href="service-details.html"><img src="assets/img/gigs/gigs-07.jpg"
														class="img-fluid" alt="img"></a>
											</div>
										</div>
										<div class="card-overlay-badge">
											<a href="service.html"><span class="badge bg-danger"><i
														class="fa-solid fa-meteor"></i>Hot</span></a>
										</div>
										<div class="fav-selection">
											<a role="button"
  tabIndex="0" class="video-icon"><i
													class="feather-video"></i></a>
											<a role="button"
  tabIndex="0" class="fav-icon"><i
													class="feather-heart"></i></a>
										</div>
										<div class="user-thumb">
											<a href="talent-profile.html"><img src="assets/img/user/user-10.jpg"
													alt="img"></a>
										</div>
									</div>
									<div class="gigs-content">
										<div class="gigs-info">
											<a href="service.html"><span class="badge bg-primary-light">Video
													Marketing</span></a>
											<p><i class="ti ti-map-pin-check"></i>Chicago</p>
										</div>
										<div class="gigs-title">
											<h3><a href="service-details.html">I will do creating and promoting video
													content to engage audiences</a></h3>
										</div>
										<div class="star-rate">
											<span><i class="fa-solid fa-star"></i>4.2 (65 Reviews)</span>
										</div>
										<div class="gigs-card-footer">
											<div>
												<a role="button"
  tabIndex="0" class="share-icon"><i
														class="feather-share-2"></i></a>
												<span class="badge">Delivery in 1 day</span>
											</div>
											<h5>$600</h5>
										</div>
									</div>
								</div>
								<div class="gigs-grid">
									<div class="gigs-img">
										<div class="img-slider">
											<div class="slide-images">
												<a href="service-details.html"><img src="assets/img/gigs/gigs-14.jpg"
														class="img-fluid" alt="img"></a>
											</div>
											<div class="slide-images">
												<a href="service-details.html"><img src="assets/img/gigs/gigs-08.jpg"
														class="img-fluid" alt="img"></a>
											</div>
											<div class="slide-images">
												<a href="service-details.html"><img src="assets/img/gigs/gigs-09.jpg"
														class="img-fluid" alt="img"></a>
											</div>
										</div>
										<div class="fav-selection">
											<a role="button"
  tabIndex="0" class="fav-icon"><i
													class="feather-heart"></i></a>
										</div>
										<div class="user-thumb">
											<a href="talent-profile.html"><img src="assets/img/user/user-06.jpg"
													alt="img"></a>
										</div>
									</div>
									<div class="gigs-content">
										<div class="gigs-info">
											<a href="service.html"><span class="badge bg-primary-light">Local
													SEO</span></a>
											<p><i class="ti ti-map-pin-check"></i>Moscow</p>
										</div>
										<div class="gigs-title">
											<h3><a href="service-details.html">Optimizing online presence to enhance
													visibility in local search...</a></h3>
										</div>
										<div class="star-rate">
											<span><i class="fa-solid fa-star"></i>4.3 (22 Reviews)</span>
										</div>
										<div class="gigs-card-footer">
											<div>
												<a role="button"
  tabIndex="0" class="share-icon"><i
														class="feather-share-2"></i></a>
												<span class="badge">Delivery in 2 day</span>
											</div>
											<h5>$550</h5>
										</div>
									</div>
								</div>
								<div class="gigs-grid">
									<div class="gigs-img">
										<div class="img-slider">
											<div class="slide-images">
												<a href="service-details.html"><img src="assets/img/gigs/gigs-15.jpg"
														class="img-fluid" alt="img"></a>
											</div>
											<div class="slide-images">
												<a href="service-details.html"><img src="assets/img/gigs/gigs-10.jpg"
														class="img-fluid" alt="img"></a>
											</div>
											<div class="slide-images">
												<a href="service-details.html"><img src="assets/img/gigs/gigs-11.jpg"
														class="img-fluid" alt="img"></a>
											</div>
										</div>
										<div class="fav-selection">
											<a role="button"
  tabIndex="0" class="fav-icon"><i
													class="feather-heart"></i></a>
										</div>
										<div class="user-thumb">
											<a href="talent-profile.html"><img src="assets/img/user/user-03.jpg"
													alt="img"></a>
										</div>
									</div>
									<div class="gigs-content">
										<div class="gigs-info">
											<a href="service.html"><span class="badge bg-primary-light">Mobile
													Marketing</span></a>
											<p><i class="ti ti-map-pin-check"></i>Norwich</p>
										</div>
										<div class="gigs-title">
											<h3><a href="service-details.html">Optimizing marketing strategies for
													mobiles & app based promotions</a></h3>
										</div>
										<div class="star-rate">
											<span><i class="fa-solid fa-star"></i>4.6 (475 Reviews)</span>
										</div>
										<div class="gigs-card-footer">
											<div>
												<a role="button"
  tabIndex="0" class="share-icon"><i
														class="feather-share-2"></i></a>
												<span class="badge">Delivery in 1 day</span>
											</div>
											<h5>$720</h5>
										</div>
									</div>
								</div>
								<div class="gigs-grid">
									<div class="gigs-img">
										<div class="img-slider">
											<div class="slide-images">
												<a href="service-details.html"><img src="assets/img/gigs/gigs-04.jpg"
														class="img-fluid" alt="img"></a>
											</div>
											<div class="slide-images">
												<a href="service-details.html"><img src="assets/img/gigs/gigs-01.jpg"
														class="img-fluid" alt="img"></a>
											</div>
											<div class="slide-images">
												<a href="service-details.html"><img src="assets/img/gigs/gigs-02.jpg"
														class="img-fluid" alt="img"></a>
											</div>
										</div>
										<div class="card-overlay-badge">
											<span class="badge bg-danger"><i class="fa-solid fa-meteor"></i>Hot</span>
										</div>
										<div class="fav-selection">
											<a role="button"
  tabIndex="0" class="fav-icon"><i
													class="feather-heart"></i></a>
										</div>
										<div class="user-thumb">
											<a href="talent-profile.html"><img src="assets/img/user/user-04.jpg"
													alt="img"></a>
										</div>
									</div>
									<div class="gigs-content">
										<div class="gigs-info">
											<a href="service.html"><span class="badge bg-primary-light">Digital
													Marketing</span></a>
											<p><i class="ti ti-map-pin-check"></i>Indonesia</p>
										</div>
										<div class="gigs-title">
											<h3><a href="service-details.html">Embedded Android & AOSP
													customizations</a></h3>
										</div>
										<div class="star-rate">
											<span><i class="fa-solid fa-star"></i>4.5 (40 Reviews)</span>
										</div>
										<div class="gigs-card-footer">
											<div>
												<a role="button"
  tabIndex="0" class="share-icon"><i
														class="feather-share-2"></i></a>
												<span class="badge">Delivery in 2 day</span>
											</div>
											<h5>$900</h5>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- /Recent Work -->

			</div>
		</div>
		<!-- /Content -->

		<footer class="footer-two">
			<img src="assets/img/home/shape-3.svg" alt="img" class="d-lg-flex d-none img-fluid footer-bg">
			<div class="footer-top-two position-relative">
				<img src="assets/img/home/footer-bg.svg" alt="img" class="d-lg-flex d-none img-fluid footer-bg2">
				<div class="container">
					<div class="row row-gap-4" data-aos="fade-up">
						<div class="col-lg-3 col-sm-6 footer-links">
							<h6>About Future Connect</h6>
							<ul>
								<li><a href="about-us.html"><i class="ti ti-chevron-right me-2"></i>About Us</a></li>
								<li><a href="how-it-works.html"><i class="ti ti-chevron-right me-2"></i>How It Works</a>
								</li>
								<li><a href="talent-showcase.html"><i class="ti ti-chevron-right me-2"></i>Talent
										Showcase</a></li>
								<li><a href="join-us.html"><i class="ti ti-chevron-right me-2"></i>Join the Platform</a>
								</li>
								<li class="mb-0"><a href="contact.html"><i class="ti ti-chevron-right me-2"></i>Contact
										Us</a></li>
							</ul>
						</div>
						<div class="col-lg-3 col-sm-6 footer-links">
							<h6>Resources</h6>
							<ul>
								<li><a href="stories.html"><i class="ti ti-chevron-right me-2"></i>Inspiring Stories</a>
								</li>
								<li><a href="courses.html"><i class="ti ti-chevron-right me-2"></i>Skill Courses</a>
								</li>
								<li><a href="blogs.html"><i class="ti ti-chevron-right me-2"></i>Blog</a></li>
								<li><a href="events.html"><i class="ti ti-chevron-right me-2"></i>Events</a></li>
								<li><a href="faq.html"><i class="ti ti-chevron-right me-2"></i>FAQs</a></li>
							</ul>
						</div>
						<div class="col-lg-3 col-sm-6 footer-links">
							<h6>Categories</h6>
							<ul>
								<li><a href="category/arts.html"><i class="ti ti-chevron-right me-2"></i>Arts &
										Creativity</a></li>
								<li><a href="category/tech.html"><i class="ti ti-chevron-right me-2"></i>Technology &
										Coding</a></li>
								<li><a href="category/music.html"><i class="ti ti-chevron-right me-2"></i>Music &
										Performance</a></li>
								<li><a href="category/business.html"><i
											class="ti ti-chevron-right me-2"></i>Entrepreneurship</a></li>
								<li><a href="category/other.html"><i class="ti ti-chevron-right me-2"></i>Other
										Talents</a></li>
							</ul>
						</div>
						<div class="col-lg-3 col-sm-6 footer-contact">
							<h6>Get in Touch</h6>
							<div class="d-flex align-items-center mb-3">
								<span class="footer-icon"><i class="ti ti-map-pin"></i></span>
								<div>
									<p class="mb-0">Location</p>
									<span>Kigali Innovation Hub, Rwanda</span>
								</div>
							</div>
							<div class="d-flex align-items-center mb-3">
								<span class="footer-icon"><i class="ti ti-device-tablet"></i></span>
								<div>
									<p class="mb-0">Phone</p>
									<span>+250 784 123 456</span>
								</div>
							</div>
							<div class="d-flex align-items-center">
								<span class="footer-icon"><i class="ti ti-mail"></i></span>
								<div>
									<p class="mb-0">Email</p>
									<span><a href="mailto:info@Future Connect.org">info@Future Connect.org</a></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom-two">
				<div class="container">
					<div class="mb-3 d-flex align-items-center justify-content-between flex-wrap gap-3">
						<a href="index.html" class="footer-logo">
							<img src="assets/img/logo.svg" alt="Future Connect Logo">
						</a>
						<div class="social-links">
							<ul>
								<li class="me-2"><a role="button"
  tabIndex="0"><i class="fa-brands fa-facebook"></i></a></li>
								<li class="me-2"><a role="button"
  tabIndex="0"><i class="fa-brands fa-x-twitter"></i></a></li>
								<li class="me-2"><a role="button"
  tabIndex="0"><i class="fa-brands fa-instagram"></i></a></li>
								<li class="me-2"><a role="button"
  tabIndex="0"><i class="fa-brands fa-linkedin"></i></a></li>
								<li><a role="button"
  tabIndex="0"><i class="fa-brands fa-youtube"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
						<div class="copy-right-two">
							<p class="mb-0">&copy; 2025 Future Connect. Empowering Stories. Real Impact.</p>
						</div>
						<div class="footer-links">
							<ul class="d-flex align-items-center flex-wrap gap-3">
								<li><a href="privacy-policy.html">Privacy Policy</a></li>
								<li><a href="terms-condition.html">Terms & Conditions</a></li>
								<li><a href="donation-policy.html">Donation Policy</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<div class="modal new-modal fade" id="order_details" data-keyboard="false" data-backdrop="static"
			style="display: none;" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Order Details</h5>
						<button type="button" class="close-btn" data-bs-dismiss="modal"><span>×</span></button>
					</div>
					<div class="modal-body service-modal">
						<div class="row">
							<div class="col-md-12">
								<div class="order-status">
									<div class="order-item">
										<div class="order-img">
											<img src="assets/img/service/service-slide-01.jpg" alt="img">
										</div>
										<div class="order-info">
											<h5>I will design, redesign wordpress website using elementor pro</h5>
											<ul>
												<li>ID : #1245</li>
												<li>Delivery : Jan 29 2024 8:10 AM</li>
											</ul>
										</div>
									</div>
									<h6 class="title">Details</h6>
									<div class="user-details">
										<div class="user-img">
											<img src="assets/img/user/user-05.jpg" alt="img">
										</div>
										<div class="user-info">
											<h5>Adrian Revolt <span class="location">From USA</span></h5>
											<p><i class="fa-solid fa-star"></i>Ratings 5.0 (45 Reviews)</p>
										</div>
									</div>
									<h6 class="title">Service Details</h6>
									<div class="detail-table table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th>Service</th>
													<th>Quantity</th>
													<th>Total</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Designing and developing...</td>
													<td>1</td>
													<td class="text-primary">$100</td>
												</tr>
												<tr>
													<td>Additional 1 : I can clean</td>
													<td>1</td>
													<td class="text-primary">$100</td>
												</tr>
												<tr>
													<td>Super Fast : Super fast delivery</td>
													<td>1</td>
													<td class="text-primary">$100</td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<th colspan="2">Grand Total</th>
													<th class="text-primary">$300</th>
												</tr>
											</tfoot>
										</table>
									</div>
									<div class="modal-btn">
										<div class="row gx-2">
											<div class="col-6">
												<a role="button"
  tabIndex="0" data-bs-dismiss="modal"
													class="btn btn-light text-dark w-100 justify-content-center">Cancel</a>
											</div>
											<div class="col-6">
												<a href="buyer-purchase.html" class="btn btn-primary w-100">Pay Now</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Mouse Cursor -->
		<div class="mouse-cursor cursor-outer"></div>
		<div class="mouse-cursor cursor-inner"></div>
		<!-- /Mouse Cursor -->

		<!-- Top Scroll -->
		<div class="back-to-top">
			<a class="back-to-top-icon align-items-center justify-content-center d-flex" href="#top">
				<i class="ti ti-arrow-badge-up" aria-hidden="true"></i>
			</a>
		</div>
		<!-- /Top Scroll -->

	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->
	<script src="assets/js/jquery-3.7.1.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<script src="assets/js/bootstrap-scrollspy.js"></script>

	<!-- Feather JS -->
	<script src="assets/js/feather.min.js"></script>

	<!-- Aos -->
	<script src="assets/plugins/aos/aos.js"></script>

	<!-- counterup JS -->
	<script src="assets/js/jquery.waypoints.js"></script>
	<script src="assets/js/jquery.counterup.min.js"></script>

	<!-- Owl Carousel JS -->
	<script src="assets/js/owl.carousel.min.js"></script>

	<!-- Select JS -->
	<script src="assets/plugins/select2/js/select2.min.js"></script>

	<!-- Custom JS -->
	<script src="assets/js/script.js"></script>

</body>

</html>
