<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Future Connect</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/img/favicon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">

	<!-- Theme Settings Js -->
	<script src="assets/js/theme-script.js"></script>

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

	<!-- Fearther CSS -->
	<link rel="stylesheet" href="assets/css/feather.css">

	<!-- Tabler Icon CSS -->
	<link rel="stylesheet" href="assets/plugins/tabler-icons/tabler-icons.min.css">

	<!-- Aos CSS -->
	<link rel="stylesheet" href="assets/plugins/aos/aos.css">

	<!-- Owl carousel CSS -->
	<link rel="stylesheet" href="assets/css/owl.carousel.min.css">

	<!-- Select CSS -->
	<link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="assets/css/style.css">

</head>

<body>



	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<div class="top-header">
			Find the Best Instant Talents Platform
			<span class="close-btn"
				onclick="if (!window.__cfRLUnblockHandlers) return false; this.parentElement.style.display='none'"
				data-cf-modified-befc89958e432fcd140d906a-=""><i class="ti ti-xbox-x"></i></span>
		</div>

		<!-- Header -->
		<header class="header">
			<div class="container">
				<nav class="navbar navbar-expand-lg header-nav p-0">
					<div class="navbar-header">
						<a id="mobile_btn" role="button"
  tabIndex="0">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="index.html" class="navbar-brand logo">
							<img src="assets/img/FUTURE CONNECT LOGO - LONG.svg"  alt="Logo">
						</a>
						<a href="index.html" class="dark-logo">
							<img src="assets/img/FUTURE CONNECT LOGO - LONG - WHITE.svg" alt="Logo" class="img-fluid">
						</a>
						<a href="index.html" class="navbar-brand logo-small">
							<img src="assets/img/FUTURE CONNECT LOGO.png" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="index.html" class="menu-logo">
								<img src="assets/img/FUTURE CONNECT LOGO.png" class="img-fluid" alt="Logo">
							</a>
							<a href="index.html" class="menu-logo dark-logo">
								<img src="assets/img/FUTURE CONNECT LOGO - LONG - WHITE.svg" alt="Logo" class="img-fluid">
							</a>
							<a id="menu_close" class="menu-close" role="button"
  tabIndex="0"> <i class="fas fa-times"></i></a>
						</div>
						<ul class="main-nav navbar-nav">
							<li><a href="index.html" class="nav-link active">Home</a></li>

							<li>
								<a href="talents.html">Discover Talents</a>
							</li>

							<li>
								<a href="courses.html">Skills & Courses</a>
							</li>

							<li class="has-submenu">
	<a role="button"
  tabIndex="0">Stories <i class="fas fa-chevron-down"></i></a>
	<ul class="submenu">
		<li><a href="stories.html">All Stories</a></li>
		<li><a href="upload-story.html">Upload Story</a></li>
		<li class="has-submenu">
			<a role="button"
  tabIndex="0">Talent Categories <i class="fas fa-chevron-right"></i></a>
			<ul class="submenu">
				<li><a href="stories.html?category=music">Music & Performance</a></li>
				<li><a href="stories.html?category=tech">Tech & Coding</a></li>
				<li><a href="stories.html?category=art">Art & Design</a></li>
				<li><a href="stories.html?category=entrepreneurship">Entrepreneurship</a></li>
				<li><a href="stories.html?category=education">Education & Research</a></li>
				<li><a href="stories.html?category=health">Health & Wellness</a></li>
				<li><a href="stories.html?category=sports">Sports & Fitness</a></li>
				<li><a href="stories.html?category=community">Community Leadership</a></li>
				<li><a href="stories.html?category=life">Personal Growth</a></li>
			</ul>
		</li>
	</ul>
</li>


							<li><a href="donate.html">Support Talents</a></li>

							<li class="has-submenu">
								<a role="button"
  tabIndex="0">Pages <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="about-us.html">About Future Connect</a></li>
									<li><a href="team.html">Our Team</a></li>
									<li><a href="faq.html">FAQ</a></li>
									<li><a href="contact-us.html">Contact Us</a></li>
								</ul>
							</li>

							<li>
								<a href="blog.html">Blog </a>
							</li>
						</ul>

					</div>

					<div class="d-flex align-items-center">
						
						<div class="nav-item dropdown flag-nav nav-item-box nav-item-box-home me-3">
							<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button"
  tabIndex="0"
								role="button">
								<i class="ti ti-sun-high"></i>
								<i class="ti ti-moon"></i>
							</a>
							<ul class="dropdown-menu p-2">
								<li class="mb-1">
									<a role="button"
  tabIndex="0" class="dropdown-item active theme-toggle rounded-2"
										id="light-mode-toggle">
										<i class="ti ti-sun-high me-2"></i>Light Mode
									</a>
								</li>
								<li>
									<a role="button"
  tabIndex="0" class="dropdown-item theme-toggle rounded-2"
										id="dark-mode-toggle">
										<i class="ti ti-moon me-2"></i>Dark Mode
									</a>
								</li>
							</ul>
						</div>
						<ul class="nav header-navbar-rht">
							<li class="nav-item">
								<a class="btn btn-light d-inline-flex align-items-center" href="signin.html"><i
										class="ti ti-lock me-1"></i>Sign In</a>
							</li>
							<li class="nav-item">
								<a class="btn btn-primary d-inline-flex align-items-center" href="signup.html"><i
										class="ti ti-user me-1"></i>Sign Up</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<!-- /Header -->

		<!-- Breadcrumb -->
		<div class="breadcrumb-bar breadcrumb-bar-info">
			<div class="breadcrumb-img">
				<div class="breadcrumb-left">
					<img src="assets/img/bg/banner-bg-03.png" alt="img">
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-12">
						<nav aria-label="breadcrumb" class="page-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="index.html">Home</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">Testimonials</li>
							</ol>
						</nav>						
						<h2 class="breadcrumb-title mb-0">
							Testimonials <span class="text-primary"></span>
						</h2>
					</div>
				</div>
			</div>
		</div>
		<!-- /Breadcrumb -->

        <!-- Content -->
		<div class="page-content content testimonial-section">
			<div class="container">
				<div class="testimonials-slider owl-carousel">
					<!-- Testimonial -1 -->
						<div class="testimonial-sliders testimonial-slider-card">
							<div class="testimonial-item aos aos-init aos-animate" data-aos="fade-up">
								<div class="testimonial-icon">
									<i class="ti ti-quote-filled"></i>
								</div>
								<h5 class="mb-2">Great Work</h5>
								<p class="mb-3">The best part about this service is the variety of skills available. I've hired designers, writers, and developers, all in one place.</p>
								<div class="testimonial-review d-flex align-items-center justify-content-between">
									<div class="testimonial-user p-0">
										<img src="assets/img/user/profile.jpg" alt="img">
										<div class="testimonial-info">
											<h6>Gloria Weber</h6>
											<p>United States</p>
										</div>
									</div>
									<div class="star-rate m-0 bg-light">
										<span>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
					<!-- Testimonial -1 -->

					<!-- Testimonial -2 -->
						<div class="testimonial-sliders testimonial-slider-card">
							<div class="testimonial-item aos aos-init aos-animate" data-aos="fade-up">
								<div class="testimonial-icon">
									<i class="ti ti-quote-filled"></i>
								</div>
								<h5 class="mb-2">Steady income & flexible work!</h5>
								<p class="mb-3">Thanks to this platform, I earn a stable working on my terms. The gig marketplace is well-structured, making it easy to find quality clients!</p>
								<div class="testimonial-review d-flex align-items-center justify-content-between">
									<div class="testimonial-user p-0">
										<img src="assets/img/user/user-02.jpg" alt="img">
										<div class="testimonial-info">
											<h6>Gloria Weber</h6>
											<p>United States</p>
										</div>
									</div>
									<div class="star-rate m-0 bg-light">
										<span>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
					<!-- /Testimonial -2 -->

					<!-- Testimonial -3 -->
						<div class="testimonial-sliders testimonial-slider-card">
							<div class="testimonial-item aos aos-init aos-animate" data-aos="fade-up">
								<div class="testimonial-icon">
									<i class="ti ti-quote-filled"></i>
								</div>
								<h5 class="mb-2">Best platform for remote work!</h5>
								<p class="mb-3">I've tried multiple freelancing websites, but this one stands out. It’s reliable, easy to use, and connects me with high-paying clients!</p>
								<div class="testimonial-review d-flex align-items-center justify-content-between">
									<div class="testimonial-user p-0">
										<img src="assets/img/user/user-03.jpg" alt="img">
										<div class="testimonial-info">
											<h6>Adriana Hrit</h6>
											<p>Copywriter</p>
										</div>
									</div>
									<div class="star-rate m-0 bg-light">
										<span>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
					<!-- /Testimonial -3 -->

					<!-- Testimonial -4 -->
						<div class="testimonial-sliders testimonial-slider-card">
							<div class="testimonial-item aos aos-init aos-animate" data-aos="fade-up">
								<div class="testimonial-icon">
									<i class="ti ti-quote-filled"></i>
								</div>
								<h5 class="mb-2">Freelancing without the hassle!</h5>
								<p class="mb-3">The job search is effortless, and payments are always on time. I love the freedom this platform provides regular gigs consistantly!</p>
								<div class="testimonial-review d-flex align-items-center justify-content-between">
									<div class="testimonial-user p-0">
										<img src="assets/img/user/user-04.jpg" alt="img">
										<div class="testimonial-info">
											<h6>Michael Andrews</h6>
											<p>Software Engineering</p>
										</div>
									</div>
									<div class="star-rate m-0 bg-light">
										<span>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
					<!-- /Testimonial -4 -->

					<!-- Testimonial -5 -->
						<div class="testimonial-sliders testimonial-slider-card">
							<div class="testimonial-item aos aos-init aos-animate" data-aos="fade-up">
								<div class="testimonial-icon">
									<i class="ti ti-quote-filled"></i>
								</div>
								<h5 class="mb-2">Finding top talent is easy!</h5>
								<p class="mb-3">I needed a web designer, and within hours, I found an expert. The process was seamless, and the results were outstanding!</p>
								<div class="testimonial-review d-flex align-items-center justify-content-between">
									<div class="testimonial-user p-0">
										<img src="assets/img/user/user-05.jpg" alt="img">
										<div class="testimonial-info">
											<h6>Sarah Wilson</h6>
											<p> Startup Founder</p>
										</div>
									</div>
									<div class="star-rate m-0 bg-light">
										<span>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
					<!-- /Testimonial -5 -->

					<!-- Testimonial -6 -->
						<div class="testimonial-sliders testimonial-slider-card">
							<div class="testimonial-item aos aos-init aos-animate" data-aos="fade-up">
								<div class="testimonial-icon">
									<i class="ti ti-quote-filled"></i>
								</div>
								<h5 class="mb-2">Reliable professionals, great results!</h5>
								<p class="mb-3">The review system and secure payments make hiring stress-free. I always find talented freelancers who deliver quality work!</p>
								<div class="testimonial-review d-flex align-items-center justify-content-between">
									<div class="testimonial-user p-0">
										<img src="assets/img/user/user-06.jpg" alt="img">
										<div class="testimonial-info">
											<h6>David Lee</h6>
											<p>Business Owner</p>
										</div>
									</div>
									<div class="star-rate m-0 bg-light">
										<span>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
					<!-- /Testimonial -6 -->

					<!-- Testimonial -7 -->
						<div class="testimonial-sliders testimonial-slider-card">
							<div class="testimonial-item aos aos-init aos-animate" data-aos="fade-up">
								<div class="testimonial-icon">
									<i class="ti ti-quote-filled"></i>
								</div>
								<h5 class="mb-2">Affordable and high-quality services!</h5>
								<p class="mb-3">I’ve worked with multiple freelancers here, and the quality always exceeds my expectations. The pricing is transparent and fair!</p>
								<div class="testimonial-review d-flex align-items-center justify-content-between">
									<div class="testimonial-user p-0">
										<img src="assets/img/user/profile.jpg" alt="img">
										<div class="testimonial-info">
											<h6>Anna Roberts</h6>
											<p>United States</p>
										</div>
									</div>
									<div class="star-rate m-0 bg-light">
										<span>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
					<!-- /Testimonial -7 -->

					<!-- Testimonial -8 -->
						<div class="testimonial-sliders testimonial-slider-card">
							<div class="testimonial-item aos aos-init aos-animate" data-aos="fade-up">
								<div class="testimonial-icon">
									<i class="ti ti-quote-filled"></i>
								</div>
								<h5 class="mb-2">Top-Notch Graphic Design!</h5>
								<p class="mb-3">I wanted a fresh logo for my brand, and the  The creative process was seamless. The final logo perfectly represents my business!</p>
								<div class="testimonial-review d-flex align-items-center justify-content-between">
									<div class="testimonial-user p-0">
										<img src="assets/img/user/user-08.jpg" alt="img">
										<div class="testimonial-info">
											<h6>Chris Turner</h6>
											<p>E-commerce Store Owner</p>
										</div>
									</div>
									<div class="star-rate m-0 bg-light">
										<span>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
					<!-- /Testimonial -8 -->

					<!-- Testimonial -9 -->
						<div class="testimonial-sliders testimonial-slider-card">
							<div class="testimonial-item aos aos-init aos-animate" data-aos="fade-up">
								<div class="testimonial-icon">
									<i class="ti ti-quote-filled"></i>
								</div>
								<h5 class="mb-2">Reliable Content Writing Services!</h5>
								<p class="mb-3">I needed engaging blog posts for my website, and the writer I hired delivered high-quality content. The articles were well-researched.</p>
								<div class="testimonial-review d-flex align-items-center justify-content-between">
									<div class="testimonial-user p-0">
										<img src="assets/img/user/user-09.jpg" alt="img">
										<div class="testimonial-info">
											<h6>Jerome Marshall</h6>
											<p>Marketing Consultant</p>
										</div>
									</div>
									<div class="star-rate m-0 bg-light">
										<span>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
											<i class="fa-solid fa-star filled"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
					<!-- /Testimonial -9 -->
                </div>
            </div>
        </div>
        <!-- /Content -->

        <footer class="footer-two">
			<img src="assets/img/home/shape-3.svg" alt="img" class="d-lg-flex d-none img-fluid footer-bg">
			<div class="footer-top-two position-relative">
				<img src="assets/img/home/footer-bg.svg" alt="img" class="d-lg-flex d-none img-fluid footer-bg2">
				<div class="container">
					<div class="row row-gap-4" data-aos="fade-up">
						<div class="col-lg-3 col-sm-6 footer-links">
							<h6>About Future Connect</h6>
							<ul>
								<li><a href="about-us.html"><i class="ti ti-chevron-right me-2"></i>About Us</a></li>
								<li><a href="how-it-works.html"><i class="ti ti-chevron-right me-2"></i>How It Works</a>
								</li>
								<li><a href="talent-showcase.html"><i class="ti ti-chevron-right me-2"></i>Talent
										Showcase</a></li>
								<li><a href="join-us.html"><i class="ti ti-chevron-right me-2"></i>Join the Platform</a>
								</li>
								<li class="mb-0"><a href="contact.html"><i class="ti ti-chevron-right me-2"></i>Contact
										Us</a></li>
							</ul>
						</div>
						<div class="col-lg-3 col-sm-6 footer-links">
							<h6>Resources</h6>
							<ul>
								<li><a href="stories.html"><i class="ti ti-chevron-right me-2"></i>Inspiring Stories</a>
								</li>
								<li><a href="courses.html"><i class="ti ti-chevron-right me-2"></i>Skill Courses</a>
								</li>
								<li><a href="blogs.html"><i class="ti ti-chevron-right me-2"></i>Blog</a></li>
								<li><a href="events.html"><i class="ti ti-chevron-right me-2"></i>Events</a></li>
								<li><a href="faq.html"><i class="ti ti-chevron-right me-2"></i>FAQs</a></li>
							</ul>
						</div>
						<div class="col-lg-3 col-sm-6 footer-links">
							<h6>Categories</h6>
							<ul>
								<li><a href="category/arts.html"><i class="ti ti-chevron-right me-2"></i>Arts &
										Creativity</a></li>
								<li><a href="category/tech.html"><i class="ti ti-chevron-right me-2"></i>Technology &
										Coding</a></li>
								<li><a href="category/music.html"><i class="ti ti-chevron-right me-2"></i>Music &
										Performance</a></li>
								<li><a href="category/business.html"><i
											class="ti ti-chevron-right me-2"></i>Entrepreneurship</a></li>
								<li><a href="category/other.html"><i class="ti ti-chevron-right me-2"></i>Other
										Talents</a></li>
							</ul>
						</div>
						<div class="col-lg-3 col-sm-6 footer-contact">
							<h6>Get in Touch</h6>
							<div class="d-flex align-items-center mb-3">
								<span class="footer-icon"><i class="ti ti-map-pin"></i></span>
								<div>
									<p class="mb-0">Location</p>
									<span>Kigali Innovation Hub, Rwanda</span>
								</div>
							</div>
							<div class="d-flex align-items-center mb-3">
								<span class="footer-icon"><i class="ti ti-device-tablet"></i></span>
								<div>
									<p class="mb-0">Phone</p>
									<span>+250 784 123 456</span>
								</div>
							</div>
							<div class="d-flex align-items-center">
								<span class="footer-icon"><i class="ti ti-mail"></i></span>
								<div>
									<p class="mb-0">Email</p>
									<span><a href="mailto:info@Future Connect.org">info@Future Connect.org</a></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom-two">
				<div class="container">
					<div class="mb-3 d-flex align-items-center justify-content-between flex-wrap gap-3">
						<a href="index.html" class="footer-logo">
							<img src="assets/img/logo.svg" alt="Future Connect Logo">
						</a>
						<div class="social-links">
							<ul>
								<li class="me-2"><a role="button"
  tabIndex="0"><i class="fa-brands fa-facebook"></i></a></li>
								<li class="me-2"><a role="button"
  tabIndex="0"><i class="fa-brands fa-x-twitter"></i></a></li>
								<li class="me-2"><a role="button"
  tabIndex="0"><i class="fa-brands fa-instagram"></i></a></li>
								<li class="me-2"><a role="button"
  tabIndex="0"><i class="fa-brands fa-linkedin"></i></a></li>
								<li><a role="button"
  tabIndex="0"><i class="fa-brands fa-youtube"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
						<div class="copy-right-two">
							<p class="mb-0">&copy; 2025 Future Connect. Empowering Stories. Real Impact.</p>
						</div>
						<div class="footer-links">
							<ul class="d-flex align-items-center flex-wrap gap-3">
								<li><a href="privacy-policy.html">Privacy Policy</a></li>
								<li><a href="terms-condition.html">Terms & Conditions</a></li>
								<li><a href="donation-policy.html">Donation Policy</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>


		<!-- Mouse Cursor -->
		<div class="mouse-cursor cursor-outer"></div>
		<div class="mouse-cursor cursor-inner"></div>
		<!-- /Mouse Cursor -->

		<!-- Top Scroll -->
		<div class="back-to-top">
			<a class="back-to-top-icon align-items-center justify-content-center d-flex" href="#top">
				<i class="ti ti-arrow-badge-up" aria-hidden="true"></i>
			</a>
		</div>
		<!-- /Top Scroll -->

	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->
	<script src="assets/js/jquery-3.7.1.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<script src="assets/js/bootstrap-scrollspy.js"></script>

	<!-- Feather JS -->
	<script src="assets/js/feather.min.js"></script>

	<!-- Aos -->
	<script src="assets/plugins/aos/aos.js"></script>

	<!-- counterup JS -->
	<script src="assets/js/jquery.waypoints.js"></script>
	<script src="assets/js/jquery.counterup.min.js"></script>

	<!-- Owl Carousel JS -->
	<script src="assets/js/owl.carousel.min.js"></script>

	<!-- Select JS -->
	<script src="assets/plugins/select2/js/select2.min.js"></script>

	<!-- Custom JS -->
	<script src="assets/js/script.js"></script>

</body>

</html>